<app-header></app-header>
<app-hero></app-hero>

<app-features-grid></app-features-grid>
<app-how-it-works></app-how-it-works>

<div class="temoignages">
  <div class="titre">
    <h2>Ce qu'ils disent de nous</h2>
  </div>
  <div class="temoignages-container">
    <app-temoignages></app-temoignages>
    <app-temoignages
      avis="La plateforme m'a permis de me reconnecter avec le marché du travail après une pause carrière. Les recommandations de postes étaient parfaitement adaptées à mon profil."
      photo="assets/image/Lin.jpg"
      auteur="Mei Lin"
      position="Chef de projet digital"
      class="temoignages-card"></app-temoignages>
    <app-temoignages
      avis="En tant que recruteur, Talents-board a révolutionné notre processus de recrutement. Nous trouvons des profils pertinents en quelques clics seulement."
      photo="assets/image/Marc.jpg"
      auteur="Marc Dagobert"
      position="Responsable RH, Tech Innovate Solutions"
      class="temoignages-card"></app-temoignages>
  </div>
</div>

<app-footer></app-footer>
